option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: "postgresql://postgres:YOUR_PASSWORD@timepulse-cluster-instance-1.chb4yd9ykrnf.us-east-1.rds.amazonaws.com:5432/timepulse_db"
    DIRECT_URL: "postgresql://postgres:YOUR_PASSWORD@timepulse-cluster-instance-1.chb4yd9ykrnf.us-east-1.rds.amazonaws.com:5432/timepulse_db"
